---
// src/components/Footer.astro
---

<footer class="bg-gray-50 py-12 px-6 mt-auto border-t border-gray-200">
  <div class="container mx-auto text-center">
    <p
      class="text-2xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 to-indigo-600 mb-4"
    >
      Páginas a Medida
    </p>
    <div class="mt-4 flex justify-center space-x-6">
      <a
        href="tel:+34623962963"
        class="text-gray-600 hover:text-emerald-500 transition"
        >+34 623 962 963</a
      >
      <a
        href="mailto:info@paginasamedida.com"
        class="text-gray-600 hover:text-emerald-500 transition"
        >info@paginasamedida.com</a
      >
    </div>
  </div>
</footer>
